django>=4.2,<5.0
djangorestframework
opencv-python-headless
pdf2image
psycopg2-binary
celery
redis
django-cors-headers
python-dotenv
gunicorn
PyMuPDF
dj-database-url

# Testing
pytest~=8.0
pytest-django~=4.8
pytest-cov~=4.1
numpy<2.0.0
tenacity<9.0.0
